@import 'components/HomePage';

.Line {
  position: relative;

  .Line--Text,
  .Line--Input {
    display: inline-block;
  }
  .Line--Text {
  }
  .Line--Input {
    position: absolute;
    top: 0;
    left: 0;
    color: red;
  }
}
